body {
    font-family: 'Montserrat', sans-serif;
    background-color:#e94c23;
    margin-top: 2%;
   
}
#box {
    
    background-color: white;
    padding: 5%;
    max-width: 750px;
    width: 75%;
    height: auto;
    border: 1px solid black;
    box-shadow: 10px 10px 50px 0px;
    margin: 3% auto;
}
form {
    margin: auto;
}
#legaljargon {
    
    color: white;
    max-width: 750px;
    width: 75%;
    height: auto;
    margin: 0 auto 10px auto;
    padding-bottom: 10%;
    padding-top: 1%;
}
.label {
    margin: 10px;
    display: inline-block;
}
.dropdown {
    display: inline-block;
    margin: 10px;
    
}
.name {
    width: 45%;
    display:inline-block;
}
.nameinput{
    width:100%;
}
 /* Always set the map height explicitly to define the size of the div
     * element that contains the map. */
    #map {
      height: 100%;
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
